.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo-container {
    height: 100px;
    padding: 5px;
    margin: 5px;
}

.logo {
    height: 90%;
}

.nav-items {
    display: flex;
    align-items: center;
    padding: 15px;
}
.nav-items>ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.nav-items>ul>li {
    padding: 1rem;

}



.res-card {
    padding: 5px;
    background-color: rgb(213, 201, 201);
    width: 220px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    border-radius: 10px;
}



.res-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.res-card:hover {
    cursor: pointer;
}



.rating-time {
    display: flex;
    justify-content: space-between;
    padding: 2px;

}

.rating,
.time {
    padding: 4px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

.rating {
    background-color: rgb(35, 236, 35);
}

.time {
    background-color: yellow;
}
.top-rated-btn {
    margin: 10px;
    cursor: pointer;
    padding: 5px;
}

.top-rated-btn:hover {
    background-color: rgb(0, 180, 252);
}
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.shimmer-card {
    border-radius: 5px;
    margin: 10px;
    height: 350px;
    width: 250px;
    background-color: #f0f0f0;
}

.res-card:hover {
    scale: 0.95;
    transition: 0.2s;
}

.login-btn {
    padding: 5px;
    height: 25px;
    width: 70px;
}

.body {
    display: flex;
    flex-direction: column;
}

.filter {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    gap: 5px;
    height: 30px;
}

.search>input {
    padding: 2px;
}
.user-card {
    width: 300px;
    border: 1px solid black;
    padding: 10px
}

.myBtn {
    cursor: pointer;
    background-color: yellow
}